@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.sponsor-logos {
  overflow: hidden;
  padding: 20px 0;
  background: #555;
  white-space: nowrap;
  position: relative;
}

.sponsor-logos:before,
.sponsor-logos:after {
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  content: "";
  z-index: 2;
}

.sponsor-logos:before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
}

.sponsor-logos:after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}

.sponsor-logos:hover .sponsor-logos-slide {
  animation-play-state: paused;
}

.sponsor-logos-slide {
  display: inline-block;
  animation: 35s slide infinite linear;
}

.sponsor-logos-slide img {
  height: 70px;
  margin: 0 40px;
}
.sponcer-box {
  background-color: #f2f2f2;
  box-shadow: 0 0 5px #555;
  margin-block: 3em;
}
